@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@600&display=swap');
body{
    overflow-x: hidden;
    font-family: 'Merienda', cursive;
}

.offset:before {
    display: block;
    content:"";
    height: 4.8rem;
    margin-top: -4.8rem;
}

/*--- Contact Bar --*/
.contact-bar {
    background-color: rgb(253, 74, 74);
    color: rgb(255, 255, 255);
    height: 24px;
}

.contact-bar ul {
    float: right;
    margin: 0 1rem;
}

.contact-bar ul li{
    display: inline-block;
    margin: 0 10px;
}

@media (max-width: 615px) {
    .contact-bar {
        font-size: 15px;
    }
    .contact-bar ul {
        float: right;
        margin: 0 0.7rem;
    }
    
    .contact-bar ul li{
        display: inline-block;
        margin: 0 7px;
    }
}

@media (max-width: 562px) {
    .contact-bar {
        font-size: 14px;
        height: 21px;
    }
    .contact-bar ul {
        float: right;
        margin: 0 0.5rem;
    }
    
    .contact-bar ul li{
        display: inline-block;
        margin: 0 5px;
    }
}

@media (max-width: 562px) {
    .contact-bar {
        font-size: 14px;
        height: 21px;
    }
    .contact-bar ul {
        float: right;
        margin: 0 0.5rem;
    }
    
    .contact-bar ul li{
        display: inline-block;
        margin: 0 5px;
    }
}

@media (max-width: 522px) {
    .contact-bar {
        font-size: 10px;
        height: 15px;
    }
    .contact-bar ul {
        float: right;
        margin: 0 0.2rem;
    }
    
    .contact-bar ul li{
        display: inline-block;
        margin: 0 3px;
    }
}

@media (max-width: 372px) {
    .contact-bar {
        font-size: 8px;
        height: 12px;
    }
    .contact-bar ul {
        float: right;
        margin: 0 0.1rem;
    }
    
    .contact-bar ul li{
        display: inline-block;
        margin: 0 2px;
    }
}

@media (max-width: 302px) {
    .contact-bar {
        font-size: 7.2px;
        height: 12px;
    }
    .contact-bar ul {
        float:right;
        margin: 0 0rem;
    }
    
    .contact-bar ul li{
        display: inline-block;
        margin: 0 2px;
    }
}

@media (max-width: 280px) {
    .contact-bar {
        font-size: 7.2px;
        height: 12px;
    }
    .contact-bar ul {
        float:right;
        margin: 0 0rem;
    }
    
    .contact-bar ul li{
        display: inline-block;
        margin: 0 2px;
    }
}


/*--- Navigation --*/
.navbar {
    padding-top: 1.8rem;
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: .0005rem;
    background: rgb(0, 0, 0, 0.6)!important ;
}
.navbar-brand {
    font-size: 1.3rem;  
}
.navbar-nav li{
    padding-right: .3rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #e32929 ;
}

/*--- Landing page ---*/

.home-inner {
    background: url(img/firstBackground.png);
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 35%;
    z-index: 1;
    color: white;
}

.caption h1 {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .5rem red;
}
.caption h3 {
    padding-bottom: 1rem;
    text-shadow: .1rem .1rem .1rem red;
    
}

.bo-div{
    padding-top: .2em;
}

.btn-bo {
    font-size: 15px;
    text-shadow: .1rem .1rem .1rem #ff0000;
}

.btn-lg {
    text-shadow: .1rem .1rem .1rem red;
    border-radius: 5rem;
    padding: .6rem 1.5rem;
}

.narrow {
    width: 75%;
    margin: 0 auto;
    padding-top: 0.5rem;
}

.btn-md {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 2rem;
    margin: auto;
}

.btn-secondary{
    border:none;
    background-color: rgb(255, 60, 60);
}

.btn-secondary:hover {
    color: white;
    background-color:  rgb(252, 87, 87);
    border: none;
}

.jumbotron {
    border-radius: 0;
    padding: 1.5rem 0 1rem;
}
h3.heading {
    font-size: 1.5rem;
}

.heading-underline {
    width: 4rem;
    height: .2rem;
    background-color: rgba(255, 94, 94, 0.815);
    margin: 0 auto 1rem;
}

/*--- Our Services ---*/

.ourServices img {
    max-width: 100%;
    transition: transform .5s ease;
}

.row.no-padding [class*=col-] {
    padding: 0rem;
}

.ourServices img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.ourServices{
    overflow: hidden;
}

/*--- Find Us Section ---*/

.map-apis {
    width: 100%;
    padding: 10px;
    background: white;
}

.child {
    margin:auto;
    padding-bottom: 1rem;
}

.font-address {
    font-size: 1.5rem;
}

.heading-underline1 {
    width: 3rem;
    height: .2rem;
    background-color: rgb(253, 69, 69);
    margin: 0 auto 2rem;
}

.heading-underline2 {
    width: 4rem;
    height: .2rem;
    background-color: rgb(253, 69, 69);
    margin: -.7rem auto 0.5rem;
}

.btn-di{
    border-radius: 5rem;
    padding: .6rem 1.5rem;
}

.fixed {
    background-image: url(img/secondBackground.png);
    z-index: -1;
}

.dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5rem 2rem;
}

/*-- Brands Section --*/

.brands img {
    max-width: 100%;
}

.no-padding1 [class*=col-] {
    padding: 0.5rem;
}
/*-- Last Section __*/
footer {
    background-color: black;
    color: white;
    padding: 0 0 .5rem;
}

footer img {
    height: 3.5rem;
    margin: .6rem 0;
}

footer a{
    color: white;
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 0.2rem .5rem 0 0;
}

hr.socket {
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: .5rem;
}

.lstscnd-div{
    margin: .5rem auto;
}

@media (max-width: 476px) {
    .font-address {
        font-size: 1.1rem;
    }
}

@media (max-width: 736px) {
    .caption h1 {
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: .2rem;
        text-shadow: .1rem .1rem .5rem red;
    }
    .caption h3 {
        font-size: 1.2rem ;
        padding-bottom: .5rem;
        text-shadow: .1rem .1rem .1rem red;
        
    }
    
}

@media (max-width: 510px) {
    .caption h1 {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: .2rem;
        text-shadow: .1rem .1rem .5rem red;
    }
    .caption h3 {
        font-size: .8rem ;
        padding-bottom: .5rem;
        text-shadow: .1rem .1rem .1rem red;
        
    }
    
}

@media (max-width: 390px) {
    .caption h1 {
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: .2rem;
        text-shadow: .1rem .1rem .5rem red;
    }
    .caption h3 {
        font-size: .8rem ;
        padding-bottom: .5rem;
        text-shadow: .1rem .1rem .1rem red;
        
    }
    
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
